
/* --- SPREADSHEET SEMANTIC TOKENS --- */
:root {
  --Surface-UI-surface-Background: var(--Neutral-primary-50);
  --Surface-UI-surface-Surface: var(--Neutral-primary-50);
  --Surface-UI-surface-surface-elevated: var(--Neutral-primary-100);
  --Surface-UI-surface-surface-variant: var(--Primary-100);
  --Surface-UI-surface-Surface-Universal-alternate: var(--Neutral-primary-900);
  --Surface-UI-surface-Surface-Universal-alternate-lighter: var(--Neutral-primary-800);
  --Surface-UI-surface-Surface-Universal-Lighter: var(--Neutral-primary-50);
  --Surface-UI-surface-Surface-Universal-highlighter: var(--illustration-brown-200);
  --Surface-UI-surface-Surface-Universal-Hover: var(--Neutral-primary-200);
  --Surface-Primary-Background: var(--Primary-50);
  --Surface-Primary-Surface: var(--Primary-50);
  --Surface-Primary-surface-elevated: var(--Neutral-primary-50);
  --Surface-Primary-surface-variant: var(--Primary-100);
  --Surface-Primary-Surface-Universal-alternate: var(--Neutral-primary-800);
  --Surface-Primary-Surface-Universal-alternate-lighter: var(--Neutral-primary-800);
  --Surface-Primary-Surface-Universal-Lighter: var(--Neutral-primary-50);
  --Surface-Primary-Surface-Universal-Hover: var(--Neutral-primary-200);
  --Surface-Error-icon-bg-surface: var(--Error-500);
  --Surface-Error-bg-surface: var(--Error-50);
  --Surface-Error-Stroke: var(--Error-50);
  --Surface-Information-icon-bg-surface: var(--Information-600);
  --Surface-Information-bg-surface: var(--Information-100);
  --Surface-Information-bg-surface-lighter: var(--Information-50);
  --Surface-Information-Stroke: var(--Information-50);
  --Surface-Information-Stroke-darker: var(--Information-800);
  --Surface-Warning-icon-bg-surface: var(--warning-500);
  --Surface-Warning-Hover: var(--warning-600);
  --Surface-Warning-Pressed: var(--warning-700);
  --Surface-Warning-bg-surface: var(--warning-50);
  --Surface-Warning-bg-surface-padding: var(--warning-100);
  --Surface-Warning-Stroke: var(--warning-100);
  --Surface-Success-icon-bg-surface: var(--Success-500);
  --Surface-Success-Hover: var(--Success-600);
  --Surface-Success-Pressed: var(--Success-700);
  --Surface-Success-bg-surface: var(--Success-50);
  --Surface-Success-bg-surface-padding: var(--Success-100);
  --Surface-Success-Stroke: var(--Success-50);
  --Text-Primary-heading-1: var(--Neutral-primary-900);
  --Text-Primary-heading-2: var(--Neutral-primary-900);
  --Text-Primary-heading-3: var(--Neutral-primary-800);
  --Text-Primary-heading-4: var(--Neutral-primary-800);
  --Text-Primary-Title-alt: var(--Neutral-primary-100);
  --Text-Primary-Text-brand: var(--illustration-brown-500);
  --Text-Primary-Text-brandPrimary: var(--Primary-500);
  --Text-Primary-Text-label: var(--Neutral-primary-800);
  --Text-Primary-Body: var(--Neutral-primary-700);
  --Text-Primary-Body-alt: var(--Neutral-primary-200);
  --Text-Primary-Text-placeholder: var(--Neutral-primary-400);
  --Text-Primary-Subtitle: var(--Neutral-primary-600);
  --Text-Primary-Caption: var(--Neutral-primary-500);
  --Text-Primary-Overline: var(--Neutral-primary-500);
  --Text-Primary-Code: var(--Neutral-primary-700);
  --Text-Primary-Subtitle-alt: var(--Neutral-primary-200);
  --Text-Primary-Caption-alt: var(--Neutral-primary-300);
  --Text-Primary-Disabled: var(--Neutral-primary-400);
  --Text-Primary-Timestamp: var(--Neutral-primary-600);
  --Text-Primary-Stroke: var(--illustration-brown-300);
  --Text-Primary-Stroke-emphasis: var(--illustration-brown-400);
  --Text-Error-primary: var(--Error-600);
  --Text-Error-Text-default: var(--Error-50);
  --Text-Information-text-default: var(--Information-50);
  --Text-Information-primary: var(--Information-600);
  --Text-Information-primary-darker: var(--Information-900);
  --Text-Information-primary-dark: var(--Information-800);
  --Text-Information-Surface: var(--Information-200);
  --Text-Information-Stroke-information: var(--Information-600);
  --Text-Information-Text-link: var(--Information-600);
  --Text-Information-Text-hover: var(--illustration-brown-600);
  --Text-Information-Text-link-visited: var(--Primary-700);
  --Text-Warning-Text-default: var(--warning-50);
  --Text-Warning-Text-primary: var(--warning-500);
  --Text-Warning-Text-hover: var(--warning-100);
  --Text-Success-Default: var(--Success-50);
  --Text-Success-Hover: var(--Success-100);
  --Text-Success-primary: var(--Success-600);
  --Button-Primary-Sliderbutton-surface: var(--Neutral-Secondary-200);
  --Button-Primary-Surface-disabled: var(--Neutral-Secondary-100);
  --Button-Primary-Surface-default: var(--illustration-brown-500);
  --Button-Primary-Surface-secondary: var(--Neutral-primary-200);
  --Button-Primary-Surface-hover: var(--illustration-brown-600);
  --Button-Primary-Surface-default-sec: var(--illustration-brown-100);
  --Button-Primary-Surface-default-pri: var(--Primary-100);
  --Button-Primary-primary-action-color: Mapped/Surface/Primary/Primary-default;
  --Button-Primary-Surface: var(--illustration-brown-500);
  --Button-Primary-Surface-subtle: var(--illustration-brown-300);
  --Button-Primary-Primary-stroke: var(--illustration-brown-50);
  --Button-Primary-Inverse: var(--Neutral-primary-900);
  --Button-Primary-text-default: var(--illustration-brown-50);
  --Button-Primary-text-default-sec: var(--illustration-brown-600);
  --Button-Primary-Icon-Stroke-disabled: var(--Neutral-primary-400);
  --Button-Primary-Stroke-Stroke-secondary-hover: var(--Neutral-primary-200);
  --Button-Primary-Stroke-Stroke-default: var(--Neutral-primary-300);
  --Button-Primary-Stroke-Stroke-strong: var(--Neutral-primary-400);
  --Button-Primary-Stroke-Stroke-soft: var(--Neutral-primary-200);
  --Button-Primary-Stroke-Stroke-hover: var(--Neutral-primary-500);
  --Button-Primary-Stroke-Stroke-inverse: var(--Neutral-primary-500);
  --Button-Primary-Stroke-Stroke-emphasis: var(--Neutral-primary-400);
  --Button-Primary-Stroke-Stroke-alternate: var(--Neutral-primary-50);
  --Button-Primary-Stroke-Stroke-lighter: var(--Neutral-primary-300);
  --Button-Primary-Stroke-Stroke-negative: var(--Neutral-primary-50);
  --Button-Primary-Stroke-Stroke-secondary-disabled: var(--Neutral-primary-400);
  --Button-Primary-Stroke-Stroke-secondary-disabled-2: var(--Neutral-Secondary-300);
  --Button-Primary-Stroke-Stroke-tertiary-default: var(--Neutral-primary-900);
  --Button-Primary-Interative-Stroke-Primary: var(--illustration-brown-300);
  --Button-Primary-Interative-Stroke-active: var(--illustration-brown-600);
  --Button-Primary-Interative-Stroke-Primary-strong: var(--Neutral-primary-400);
  --Button-Error-Stroke-error: var(--Error-600);
  --Button-Error-Stroke-ring: var(--Error-500);
  --Button-Error-Hover: var(--Error-600);
  --Button-Error-Pressed: var(--warning-700);
  --Button-Error-Icon-Icon-stroke: var(--Error-600);
  --Button-Error-Icon-Default: var(--Error-500);
  --Button-UI-comp-sur-Text-disabled: var(--Neutral-primary-200);
  --Button-UI-comp-sur-Sliderbutton-surface: var(--Neutral-primary-500);
  --Button-UI-comp-sur-Surface-disabled: var(--Neutral-primary-200);
  --Button-UI-comp-sur-Surface-tag: var(--illustration-brown-100);
  --Button-UI-comp-sur-Surface-tagPrimary: var(--Primary-100);
  --Button-UI-comp-sur-Surface-Primary: var(--Primary-200);
  --Button-UI-comp-sur-Surface-secondary: var(--Neutral-primary-200);
  --Button-UI-comp-sur-Text-primary: var(--Neutral-primary-50);
  --Button-UI-comp-sur-primary-action-color: Mapped/Surface/Primary/Primary-default;
  --Button-UI-comp-sur-Stroke-Stroke: var(--Primary-300);
  --Button-UI-comp-sur-Stroke-Stroke-alternate: var(--Neutral-primary-200);
  --Button-UI-comp-sur-Stroke-Stroke-lighter: var(--Neutral-primary-300);
  --Button-UI-comp-sur-Stroke-Stroke-selected: var(--Neutral-primary-400);
  --Button-UI-comp-sur-Stroke-Stroke-negative: var(--Neutral-primary-50);
  --Button-Success-Default: var(--Success-500);
  --Button-Success-Hover: var(--Success-600);
  --Button-Success-Pressed: var(--Success-700);
  --Button-Success-Stroke-Stroke-success: var(--Success-700);
  --Button-Warning-warning: var(--warning-500);
  --Button-Warning-Hover: var(--warning-600);
  --Button-Warning-pressed: var(--warning-700);
  --Button-Warning-Warning-subtle: var(--warning-50);
  --Button-Warning-Stroke-Stroke-Warning: var(--warning-600);
  --Button-Info-Info: var(--Information-500);
  --Button-Info-Hover: var(--Information-600);
  --Button-Info-Pressed: var(--Information-700);
  --Button-Info-Info-subtle: var(--Information-50);
  --Button-Info-Info-stroke: var(--Information-500);
  --Button-Info-Icon-Stroke: var(--Information-600);
  --Button-Scroll-bar-Info: var(--Information-500);
  --Button-Scroll-bar-Info-subtle: var(--Information-50);
  --Button-Scroll-bar-Info-stroke: var(--Information-500);
  --Button-Scroll-bar-Surface-Hover: var(--illustration-brown-100);
}

.dark {
  --Surface-UI-surface-Background: var(--Neutral-primary-800);
  --Surface-UI-surface-Surface: var(--elev-0);
  --Surface-UI-surface-surface-elevated: var(--elev-2);
  --Surface-UI-surface-surface-variant: var(--Primary-600);
  --Surface-UI-surface-Surface-Universal-alternate: var(--Neutral-primary-50);
  --Surface-UI-surface-Surface-Universal-alternate-lighter: var(--Neutral-primary-400);
  --Surface-UI-surface-Surface-Universal-Lighter: var(--Neutral-primary-600);
  --Surface-UI-surface-Surface-Universal-highlighter: var(--illustration-brown-200);
  --Surface-UI-surface-Surface-Universal-Hover: var(--Neutral-primary-800);
  --Surface-Primary-Background: var(--elev-0);
  --Surface-Primary-Surface: var(--elev-1);
  --Surface-Primary-surface-elevated: var(--elev-2);
  --Surface-Primary-surface-variant: var(--Primary-600);
  --Surface-Primary-Surface-Universal-alternate: var(--Neutral-primary-50);
  --Surface-Primary-Surface-Universal-alternate-lighter: var(--Neutral-primary-400);
  --Surface-Primary-Surface-Universal-Lighter: var(--Neutral-primary-600);
  --Surface-Primary-Surface-Universal-Hover: var(--Neutral-primary-800);
  --Surface-Error-icon-bg-surface: var(--Error-300);
  --Surface-Error-bg-surface: var(--Error-900);
  --Surface-Error-Stroke: var(--Error-50);
  --Surface-Information-icon-bg-surface: var(--Information-600);
  --Surface-Information-bg-surface: var(--Information-100);
  --Surface-Information-bg-surface-lighter: var(--Information-50);
  --Surface-Information-Stroke: var(--Information-50);
  --Surface-Information-Stroke-darker: var(--Information-800);
  --Surface-Warning-icon-bg-surface: var(--warning-300);
  --Surface-Warning-Hover: var(--warning-400);
  --Surface-Warning-Pressed: var(--warning-700);
  --Surface-Warning-bg-surface: var(--warning-900);
  --Surface-Warning-bg-surface-padding: var(--warning-800);
  --Surface-Warning-Stroke: var(--warning-800);
  --Surface-Success-icon-bg-surface: var(--Success-100);
  --Surface-Success-Hover: var(--Success-200);
  --Surface-Success-Pressed: var(--Success-300);
  --Surface-Success-bg-surface: var(--Success-800);
  --Surface-Success-bg-surface-padding: var(--Success-200);
  --Surface-Success-Stroke: var(--Success-50);
  --Text-Primary-heading-1: var(--Neutral-primary-50);
  --Text-Primary-heading-2: var(--Neutral-primary-50);
  --Text-Primary-heading-3: var(--Neutral-primary-100);
  --Text-Primary-heading-4: var(--Neutral-primary-200);
  --Text-Primary-Title-alt: var(--Neutral-primary-800);
  --Text-Primary-Text-brand: var(--illustration-brown-300);
  --Text-Primary-Text-brandPrimary: var(--Primary-300);
  --Text-Primary-Text-label: var(--Neutral-primary-200);
  --Text-Primary-Body: var(--Neutral-primary-100);
  --Text-Primary-Body-alt: var(--Neutral-primary-800);
  --Text-Primary-Text-placeholder: var(--Neutral-primary-400);
  --Text-Primary-Subtitle: var(--Neutral-primary-200);
  --Text-Primary-Caption: var(--Neutral-primary-300);
  --Text-Primary-Overline: var(--Neutral-primary-400);
  --Text-Primary-Code: var(--Neutral-primary-300);
  --Text-Primary-Subtitle-alt: var(--Neutral-primary-700);
  --Text-Primary-Caption-alt: var(--Neutral-primary-600);
  --Text-Primary-Disabled: var(--Neutral-primary-400);
  --Text-Primary-Timestamp: var(--Neutral-primary-300);
  --Text-Primary-Stroke: var(--Neutral-primary-700);
  --Text-Primary-Stroke-emphasis: var(--Neutral-primary-700);
  --Text-Error-primary: var(--Error-300);
  --Text-Error-Text-default: var(--Error-50);
  --Text-Information-text-default: var(--Information-50);
  --Text-Information-primary: var(--Information-300);
  --Text-Information-primary-darker: var(--Information-50);
  --Text-Information-primary-dark: var(--Information-50);
  --Text-Information-Surface: var(--Information-200);
  --Text-Information-Stroke-information: var(--Information-600);
  --Text-Information-Text-link: var(--Information-300);
  --Text-Information-Text-hover: var(--illustration-brown-300);
  --Text-Information-Text-link-visited: var(--Information-400);
  --Text-Warning-Text-default: var(--warning-50);
  --Text-Warning-Text-primary: var(--warning-500);
  --Text-Warning-Text-hover: var(--warning-100);
  --Text-Success-Default: var(--Success-800);
  --Text-Success-Hover: var(--Success-100);
  --Text-Success-primary: var(--Success-300);
  --Button-Primary-Sliderbutton-surface: var(--Neutral-Secondary-700);
  --Button-Primary-Surface-disabled: var(--Neutral-Secondary-600);
  --Button-Primary-Surface-default: var(--illustration-brown-300);
  --Button-Primary-Surface-secondary: var(--Neutral-primary-300);
  --Button-Primary-Surface-hover: var(--illustration-brown-200);
  --Button-Primary-Surface-default-sec: var(--Neutral-primary-100);
  --Button-Primary-Surface-default-pri: var(--Primary-100);
  --Button-Primary-primary-action-color: Mapped/Surface/Primary/Primary-default;
  --Button-Primary-Surface: var(--illustration-brown-300);
  --Button-Primary-Surface-subtle: var(--Neutral-primary-300);
  --Button-Primary-Primary-stroke: var(--illustration-brown-50);
  --Button-Primary-Inverse: var(--Neutral-primary-50);
  --Button-Primary-text-default: var(--Neutral-Secondary-900);
  --Button-Primary-text-default-sec: var(--illustration-brown-300);
  --Button-Primary-Icon-Stroke-disabled: var(--Neutral-primary-600);
  --Button-Primary-Stroke-Stroke-secondary-hover: var(--illustration-brown-700);
  --Button-Primary-Stroke-Stroke-default: var(--Neutral-primary-600);
  --Button-Primary-Stroke-Stroke-strong: var(--Neutral-primary-500);
  --Button-Primary-Stroke-Stroke-soft: var(--Neutral-primary-600);
  --Button-Primary-Stroke-Stroke-hover: var(--Neutral-primary-500);
  --Button-Primary-Stroke-Stroke-inverse: var(--Neutral-primary-500);
  --Button-Primary-Stroke-Stroke-emphasis: var(--Neutral-primary-600);
  --Button-Primary-Stroke-Stroke-alternate: var(--Neutral-primary-800);
  --Button-Primary-Stroke-Stroke-lighter: var(--Neutral-primary-700);
  --Button-Primary-Stroke-Stroke-negative: var(--Neutral-primary-950);
  --Button-Primary-Stroke-Stroke-secondary-disabled: var(--Neutral-primary-300);
  --Button-Primary-Stroke-Stroke-secondary-disabled-2: var(--Neutral-Secondary-300);
  --Button-Primary-Stroke-Stroke-tertiary-default: var(--Neutral-primary-200);
  --Button-Primary-Interative-Stroke-Primary: var(--Neutral-Secondary-600);
  --Button-Primary-Interative-Stroke-active: var(--illustration-brown-600);
  --Button-Primary-Interative-Stroke-Primary-strong: var(--illustration-brown-500);
  --Button-Error-Stroke-error: var(--Error-400);
  --Button-Error-Stroke-ring: var(--Error-300);
  --Button-Error-Hover: var(--Error-200);
  --Button-Error-Pressed: var(--Error-100);
  --Button-Error-Icon-Icon-stroke: var(--Error-200);
  --Button-Error-Icon-Default: var(--Error-300);
  --Button-UI-comp-sur-Text-disabled: var(--Neutral-primary-700);
  --Button-UI-comp-sur-Sliderbutton-surface: var(--Neutral-primary-500);
  --Button-UI-comp-sur-Surface-disabled: var(--Neutral-primary-200);
  --Button-UI-comp-sur-Surface-tag: var(--illustration-brown-100);
  --Button-UI-comp-sur-Surface-tagPrimary: var(--Primary-100);
  --Button-UI-comp-sur-Surface-Primary: var(--Primary-200);
  --Button-UI-comp-sur-Surface-secondary: var(--Neutral-primary-200);
  --Button-UI-comp-sur-Text-primary: var(--Neutral-primary-50);
  --Button-UI-comp-sur-primary-action-color: Mapped/Surface/Primary/Primary-default;
  --Button-UI-comp-sur-Stroke-Stroke: var(--Neutral-primary-700);
  --Button-UI-comp-sur-Stroke-Stroke-alternate: var(--Neutral-primary-800);
  --Button-UI-comp-sur-Stroke-Stroke-lighter: var(--Neutral-primary-700);
  --Button-UI-comp-sur-Stroke-Stroke-selected: var(--Neutral-primary-600);
  --Button-UI-comp-sur-Stroke-Stroke-negative: var(--Neutral-primary-950);
  --Button-Success-Default: var(--Success-300);
  --Button-Success-Hover: var(--Success-200);
  --Button-Success-Pressed: var(--Success-100);
  --Button-Success-Stroke-Stroke-success: var(--Success-400);
  --Button-Warning-warning: var(--warning-300);
  --Button-Warning-Hover: var(--warning-200);
  --Button-Warning-pressed: var(--warning-100);
  --Button-Warning-Warning-subtle: var(--warning-900);
  --Button-Warning-Stroke-Stroke-Warning: var(--warning-400);
  --Button-Info-Info: var(--Information-300);
  --Button-Info-Hover: var(--Information-200);
  --Button-Info-Pressed: var(--Information-100);
  --Button-Info-Info-subtle: var(--Information-900);
  --Button-Info-Info-stroke: var(--Information-300);
  --Button-Info-Icon-Stroke: var(--Information-300);
  --Button-Scroll-bar-Info: var(--Information-300);
  --Button-Scroll-bar-Info-subtle: var(--Information-900);
  --Button-Scroll-bar-Info-stroke: var(--Information-300);
  --Button-Scroll-bar-Surface-Hover: var(--illustration-brown-800);
}
